Django==3.0.10
simplejson
chardet
celery<5.0,>4.3
django-celery-results<2
django-celery-beat
django-extensions==2.2.9
gunicorn==20.0.4
html5lib
requests<3.0.0,>=2.24.0
urllib3<2.0.0,>=1.25.2
tornado<5
geoip2==4.1.0
yt-dlp>=2022.3.8.2
python-memcached
elasticsearch<8
future
pytz
pypdfium2
