-e svn+http://code.djangoproject.com/svn/django/branches/releases/1.3.X#egg=django
#South
-e bzr+http://code.0x2620.org/python-ox/#egg=python-ox
-e bzr+http://code.0x2620.org/oxtimeline/#egg=oxtimeline
simplejson
chardet
-e hg+https://django-ajax-filtered-fields.googlecode.com/hg/#egg=django-ajax-filtered-fields
celery>2.1.1
django-celery>2.1.1
#django_extensions
#-e git+https://github.com/django-extensions/django-extensions.git#egg=django_extensions
#use fork fixing some postgresql issues
-e git://github.com/bit/django-extensions.git#egg=django_extensions
-e bzr+http://firefogg.org/dev/python-firefogg/#egg=python-firefogg
-e git+git://github.com/dcramer/django-devserver#egg=django_devserver
gunicorn
