pre code {
  display: block;
  background: #F0F0F0;
}

pre code, 
.xml .title {
  color: black;
}

.string,
.title, 
.parent,
.tag .attribute .value,
.rules .value,
.rules .value .number,
.preprocessor,
.instancevar,
.aggregate,
.template_tag,
.django .variable,
.addition,
.flow,
.stream {
  color: #800;
}

.comment,
.annotation,
.template_comment,
.diff .header,
.chunk {
  color: #888;
}

.number,
.regexp,
.literal,
.change {
  color: #080;
}

.decorator,
.filter .argument,
.localvars,
.array,
.attr_selector,
.pi,
.doctype,
.deletion,
.envvar,
.shebang {
  color: #88F;
}

.keyword,
.id,
.title,
.aggregate {
  font-weight: bold;
}

.html .css,
.html .javascript,
.html .vbscript {
  opacity: 0.5;
}
