body {
    background: rgb(16, 16, 16);
}

div {
    -moz-user-select: none;
    -webkit-user-select: none;
}

input#find {
    position: absolute;
    top: 4px;
    right: 24px;
    width: 240px;
}
img#loading {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    display: hidden;
}


#sideBrowserPlayer {
    text-align: center;
}

#statusBar {
    -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.75);
}

.OxCell.OxColumnTitle {
    //font-weight: bold;
}