<!DOCTYPE html>
<html>
    <head>
        <title>{{sitename}} API</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>
    </head>
    <body>
		<h1>{{sitename}} Public API</h1>
		<a href="http://code.0xdb.org/pandora/annotate/head%3A/pandora/backend/views.py">look inside</a>
	<div>
		{% for f in api %}
		<div>
			<h2><a name="{{f.name}}">action: {{f.name}}</a></h2>
			<pre style="padding-left: 24px">
{{f.doc|safe}}
			</pre>
		</div>
		{% endfor %}
	</div>
    </body>
</html>
