<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        {% include "baseheader.html" %}
        <link rel="alternate" type="application/atom+xml" title="{{settings.SITENAME}}" href="/atom.xml" />
        <meta name="title" content="{{title}}" />
        <meta name="description" content="{{settings.CONFIG.site.description}}"/>
        <meta property="og:title" content="{{title}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{base_url}}"/>
        <meta property="og:image" content="{{base_url}}static/png/icon.png"/>
        <meta property="og:site_name" content="{{settings.SITENAME}}"/>
        <meta property="og:description" content="{{settings.CONFIG.site.description}}"/>
    </head>
    <body>
        <noscript>
            <h1>{{title}}</h1>
            <p>{{text|safe}}</p>
            <p style="font-style: italic">{{settings.SITENAME}} requires JavaScript</p>
        </noscript>
    </body>
</html>
