<!DOCTYPE html>
<html>
    <head>
        <title>{{settings.SITENAME}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/png" href="/static/png/icon.16.png"/>
        <link rel="stylesheet" type="text/css" href="/static/oxjs/build/css/ox.ui.css"/>
	<script type='text/javascript'>
if(typeof(console)=='undefined') {
    console = {};
    console.log = function() {};
}
	</script>
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery/jquery.videosupport.js"></script>
        <script type="text/javascript" src="/static/oxjs/build/js/ox.load.js"></script>
        <script type="text/javascript" src="/static/oxjs/build/js/ox.js"></script>
        <script type="text/javascript" src="/static/oxjs/build/js/ox.ui.js"></script>
        <script type="text/javascript" src="/static/js/pandora.embed.js"></script>
    </head>
    <body></body>
</html>
