<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="alternate" type="application/atom+xml" title="{{settings.SITENAME}}" href="/atom.xml" />
        {% include "baseheader.html" %}
        <meta name="title" content="{{title}}" />
        <meta name="description" content="{{settings.CONFIG.site.description}}"/>
        <meta property="og:title" content="{{title}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{base_url}}"/>
        <meta property="og:image" content="{{base_url}}static/png/icon.png"/>
        <meta property="og:site_name" content="{{settings.SITENAME}}"/>
        <meta property="og:description" content="{{settings.CONFIG.site.description}}"/>
    </head>
    <body>
        <noscript>
            <div style="position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgb(144, 144, 144);"></div>
            <div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; text-align: center; font-family: Lucida Grande, Segoe UI, DejaVu Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif; font-size: 11px; color: rgb(0, 0, 0); -moz-user-select: none; -o-user-select: none; -webkit-user-select: none">
                <img src="/static/png/logo.png"/ style="width: 256px; padding-top: 128px; -moz-user-drag: none; -o-user-drag: none; -webkit-user-drag: none">
                <div style="position: absolute; width: 512px; left: 0; right: 0; margin: auto; -moz-user-select: text; -o-user-select: text; -webkit-user-select: text">
                    <div style="padding-top: 16px; text-align: justify">{{text|safe}}</div>
                    <div style="padding-top: 16px; font-style: italic">{{settings.SITENAME}} requires JavaScript.</div>
                </div>
            </div>
        </noscript>
    </body>
</html>
