<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{settings.SITENAME}}</title>
        <link rel="shortcut icon" type="image/png" href="/static/png/icon16.png"/>
        <link rel="icon" href="/static/png/icon64.png" sizes="32x32"/>
        <link rel="icon" href="/static/png/icon64.png" sizes="48x48"/>
        <meta name="application-name" content="{{settings.SITENAME}}"/>
        <meta name="application-url" content="{{base_url}}"/>
        <script type="text/javascript" src="/static/oxjs/build/Ox.js"></script>
        <script type="text/javascript" src="/static/js/pandora.js"></script>
    </head>
    <body></body>
</html>
