<!DOCTYPE html>
<html>
    <head>
        <title>0xdb.org</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/oxjs/js/ox.js"></script>
        <script type="text/javascript" src="/static/oxjs/js/ox.ui.js"></script>
        <script type="text/javascript" src="/static/oxjs/js/ox.iso.js"></script>
        <script type="text/javascript" src="/static/oxjs/js/ox.unicode.js"></script>
        <script type="text/javascript" src="/static/js/ui.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/oxjs/css/ox.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/ui.css"/>
    </head>
    <body>
    </body>
</html>
