[Unit]
Description=pandora encoding daemon
After=postgresql.service rabbitmq-server.service

[Service]
Type=simple
Restart=always
User=pandora
Group=pandora
EnvironmentFile=/srv/pandora/pandora/encoding.conf
PIDFile=/run/pandora/encoding.pid
WorkingDirectory=/srv/pandora/pandora
ExecStart=/srv/pandora/bin/celery \
    -A app worker \
    -Q encoding -n pandora-encoding \
    --pidfile /run/pandora/encoding.pid \
    -c $CONCURRENCY \
    --maxtasksperchild $MAX_TASKS_PER_CHILD \
    -l $LOGLEVEL
ExecReload=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
