[Unit]
Description=pandora cron daemon

[Service]
Type=simple
Restart=always
User=pandora
Group=pandora
PIDFile=/run/pandora/cron.pid
WorkingDirectory=/srv/pandora/pandora
StandardOutput=syslog
StandardError=syslog
ExecStart=/srv/pandora/bin/python /srv/pandora/pandora/manage.py \
    celerybeat -s /run/pandora/celerybeat-schedule \
    --pidfile /run/pandora/cron.pid \
    -l INFO
ExecReload=/bin/kill -HUP $MAINPID
[Install]
WantedBy=multi-user.target
