[Unit]
Description=pandora websocket daemon
After=postgresql.service rabbitmq-server.service

[Service]
Type=simple
Restart=always
User=pandora
Group=pandora
PIDFile=/run/pandora/websocketd.pid
WorkingDirectory=/srv/pandora/pandora
ExecStart=/srv/pandora/bin/python /srv/pandora/pandora/manage.py websocketd \
       --pidfile /run/pandora/websocketd.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
