[Unit]
Description=pandora cron daemon
After=postgresql.service rabbitmq-server.service

[Service]
Type=simple
Restart=always
User=pandora
Group=pandora
PIDFile=/run/pandora/cron.pid
WorkingDirectory=/srv/pandora/pandora
ExecStart=/srv/pandora/bin/celery \
    -A app beat \
    --scheduler django_celery_beat.schedulers:DatabaseScheduler \
    --pidfile /run/pandora/cron.pid \
    -l INFO
ExecReload=/bin/kill -HUP $MAINPID
[Install]
WantedBy=multi-user.target
